:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 95vw;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  color: grey;
}

img {
  max-height: 100%;
}

.HomeComponent {
  width: 100%;
  text-align: left;
  padding: 2%;
}

nav {
  background-color: #4ec4fc;
  height: 10vh;
  padding: 5% 0 0 0;
  width: 100vw;
}

.BeerBox {
  display: flex;
  height: 20vh;
  padding: 3%;
  gap: 25px;
  text-align: left;
  justify-content: center;
}

.BeerBox h3 {
  padding: 0;
  margin: 0;
}

.BeerBox h4 {
  color: grey;
  padding: 0;
  margin: 0;
}

.BeerBox p {
  color: black;
  padding: 0;
  margin: 0;
}

.BeerDetail img {
  height: 40vh;
  padding: 2%;
}

.BeerDetailHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.BeerDetail h1 {
  font-size: 2rem;
}

.BeerDetail h2 {
  color: grey;
}

.BeerDetail p {
  color: black;
}

.BeerDetail h4 {
  color: grey;
}
